# Logs
logs
*.log
npm-debug.log*

# Compiled files
build

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# dotenv environment variables file
.env
.env.test

# private
ignore
secret/
oauth2.keys.json